/* 2021/01/29 build */
/* width */
.full-w {
    width: 100%;
}
.full-h {
    height: 100%;
}
.full-vh {
    height: 100vh;
}
/* pos */
.fixed {
	position: fixed;
}
.rel {
	position: relative;
}
.abs {
	position: absolute;
}
/* abs */
.top {
	top: 0;
}
.bottom {
	bottom: 0;
}
.left {
	left: 0;
}
.right {
	right: 0;
}
/* center */
.center {
	margin-left: auto;
	margin-right: auto;
}
.centerh {
    top: 50%;
    transform: translate3d(0, -50%, 0);
}
/* float */
.fl {
    float: left;
}
.fr {
    float: right;
}
/* clear */
.clearfix:after {
    content: "";  /*设置内容为空*/
    height: 0;  /*高度为0*/
    line-height: 0;  /*行高为0*/
    display: block;  /*将文本转为块级元素*/
    visibility: hidden;  /*将元素隐藏*/
    clear: both;  /*清除浮动*/
}
.clearfix {
    zoom: 1;  /*为了兼容IE*/
}
/* text */
.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.hide {
	display: none;
}
.overflow {
    overflow: hidden;
}
/* fade */
.fade-enter {
    opacity: 0;
}
.fade-enter-to {
    opacity: 1;
}
.fade-enter-active {
    transition: 0.4s;
}
.fade-leave {
    opacity: 1;
}
.fade-leave-to {
    opacity: 0;
}
.fade-leave-active {
    transition: 0.4s;
}
/* modal */
.blur {
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}
.modal {
    z-index: 3;
}
/* animate */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border: 0.06rem solid rgba(255, 255,255, 0.2);
    border-top: 0.06rem solid #fff;
    border-radius: 50%;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
