.page-home {
	.logo {
		top: 3%;
	}
	.user {
		width: 12.8%;
		top: 1%;
		right: 3.6%;
	}
	.box-all {
		top: 13%;
		.text {
			margin-top: 29.8%;
		}
		.btn-inter {
			width: 42%;
			margin-top: 10.4%;
		}
	}
}
