.page-knowledge {
	.box-all {
		.swiper-slide, .arrowd, .btn-test, .clip {
		    transform: translate3d(0, 0, 0)!important;
		}
		.ksall {
			.logo {
				margin-top: 5.4%;
			}
			.title {
				margin-top: 0.8%;
			}
			.user {
				width: 12.8%;
				top: 1%;
				right: 3.6%;
				z-index: 2;
			}
			.box-folder {
				width: 82.134%;
				margin-top: 5.2%;
				@keyframes updown {
				    0% {
				        transform: translateY(0);
				    }
				    50% {
				        transform: translateY(-6px);
				    }
				    100% {
				        transform: translateY(0);
				    }
				}
				.box-swiper {
					width: 93.669%;
					height: 92.2%;
					top: 2%;
					border-radius: 0.25rem;
					border: 0.02rem solid #271498;
					.swiper-container {
						border-radius: 0.25rem;
						.arrowd, .btn-test {
							z-index: 1;
						}
						.arrowd {
							width: 13.519%;
							top: 89.2%;
							-webkit-animation: updown 1s linear .3s infinite;
						    animation: updown 1s linear .3s infinite;
						    animation-play-state: running;
						}
						.btn-test {
							width: 54.593%;
							top: 79.4%;
						}
					}
				}
				.swiper-scrollbar {
					width: 91%;
					height: 0.14rem;
					margin-top: 3.4%;
					border-radius: 0.04rem;
					background: rgba(115, 64, 152, 0.2);
				}
				.clip {
					width: 39.94%;
					top: -6.8%;
				}
				.arrowu {
					width: 34.416%;
					top: 7%;
					-webkit-animation: updown 1s linear .3s infinite;
				    animation: updown 1s linear .3s infinite;
				    animation-play-state: running;
				}
				.clip, .arrowu {
					z-index: 1;
				}
			}
			@keyframes leftright {
			    0% {
			        transform: translateX(0);
			    }
			    50% {
			        transform: translateX(-6px);
			    }
			    100% {
			        transform: translateX(0);
			    }
			}
			.arrowr {
				width: 5.6%;
				top: 56%;
				right: 1.4%;
				-webkit-animation: leftright 1s linear .3s infinite;
			    animation: leftright 1s linear .3s infinite;
			    animation-play-state: running;
			}
		}
	}
}
