.page-loading {
	.logo {
		top: 3%;
	}
	.box-all {
		top: 29.8%;
		.box-text {
			margin-top: 1.6%;
			.opacity0 {
				opacity: 0;
			}
		}
		.box-bar {
			width: 75%;
			height: 0.16rem;
			margin: 2.8% 0 1.4% 12%;
			border-radius: 0.04rem;
			background: rgba(115, 64, 152, 0.2);
			overflow: hidden;
			.bar {
				width: 0%;
				border-radius: 0.04rem;
				background: #734098;
			}
		}
		.box-percent {
			color: #734098;
			font-size: 0.28rem;
		}
		.tip {
			margin-top: 22%;
		}
	}
}
