.page-result {
	.logo {
		top: 3%;
	}
	.user {
		width: 12.8%;
		top: 1%;
		right: 3.6%;
	}
	.box-all {
		top: 9%;
		.box-code {
			color: #713e96;
			background: url('../img/result/bg-code.png') center center no-repeat;
			background-size: 100% auto;
			.text-code {
				font-size: 0.3rem;
			}
			.code {
				font-size: 0.6rem;
			}
		}
		.subtitle {
			margin-top: 2.4%;
		}
		.banner1 {
			margin-top: -4.8%;
		}
		.banner2 {
			margin-top: 2.4%;
		}
		.box-tips {
			margin-top: 1%;
		}
		.box-btns {
			width: 42%;
		}
	}
	.modal-notice {
		background: rgba(81, 85, 96, 0.14);
		.content {
			width: 88.934%;
		}
	}
}
