.page-user, .modal-user {
	.logo {
		top: 3%;
	}
	.btn-back {
		width: 12.534%;
		top: 1.6%;
		left: 6.8%;
	}
	.box-all {
		top: 11.5%;
		.box-folder {
			width: 82.134%;
			margin-top: 12.4%;
			.box-bg {
				width: 93.669%;
				height: 95.8%;
				top: 2.2%;
				border-radius: 0.25rem;
				border: 0.02rem solid #271498;
				.box-info {
					top: 4.4%;
					.avatar {
						width: 27.903%;
					}
					.username {
						color: #241291;
						font-size: 0.28rem;
						margin-top: 1.4%;
					}
					.usernum {
						color: rgba(36, 18, 145, 0.7);
						font-size: 0.24rem;
						line-height: 0.24rem;
						transform: scale(0.8);
					}
					ul {
						width: 92.028%;
						li {
							margin-top: 4%;
							.papers {
								top: -4%;
							}
							.box-logo {
								top: 14%;
							}
							.box-code {
								top: 40%;
								left: 30%;
								.code {
									font-size: 0.4rem;
									line-height: 0.4rem;
								}
								.time {
									font-size: 0.24rem;
									line-height: 0.24rem;
									transform: scale(0.6);
									transform-origin: left center;
								}
							}
							.color1 {
								.code {
									color: #7a638b;
								}
								.time {
									color: #9d99b6;
								}
							}
							.color02 {
								.code {
									color: #713e96;
								}
								.time {
									color: rgba(36, 18, 145, 0.5);
								}
							}
						}
					}
				}
			}
			.clip {
				width: 39.94%;
				top: -6.8%;
			}
		}
	}
	.modal-loading {
		width: 2rem;
		height: 1rem;
		background: rgba(0, 0, 0, 0.6);
		border-radius: 0.08rem;
		.loader {
			top: 0.25rem;
		}
	}
}
.modal-user {
	z-index: 4;
}
