<style lang="scss" scoped src="@/assets/css/home.scss"></style>

<template>
	<div class="page-home full-vh rel">
		<!-- bg -->
		<img class="full-w" src="@/assets/img/home/bg.jpg">
		<img class="full-w abs top left" src="@/assets/img/home/sun.png">
		<!-- logo -->
		<img class="logo full-w abs left" src="@/assets/img/common/logo.png" alt="BIOTHERM">
		<img class="user abs" src="@/assets/img/common/user.png" @click="toUser">
		<div class="box-all full-w abs left text-center">
			<!-- title -->
			<img class="full-w" src="@/assets/img/home/title.png" alt="防晒水平测试间">
			<img class="text full-w" src="@/assets/img/home/text.png">
        	<img class="btn-inter" src="@/assets/img/home/btn-inter.png" @click="inter" alt="点击进入">
		</div>
		<modalUser></modalUser>
	</div>
</template>

<script src="@/assets/js/home.js"></script>
