<style lang="scss" scoped src="@/assets/css/knowledge.scss"></style>

<template>
	<div class="page-knowledge full-vh rel">
		<!-- bg -->
		<img class="full-w" src="@/assets/img/common/bg.jpg">
		<div class="box-all full-w full-h abs top left">
			<div class="swiper-container ksall full-h">
				<div class="swiper-wrapper">
					<div class="swiper-slide overflow">
						<!-- logo -->
						<img class="logo full-w" src="@/assets/img/common/logo.png" alt="BIOTHERM">
						<!-- title -->
						<img class="title full-w" src="@/assets/img/knowledge/title1.png" alt="紫外线 污染危害 防晒考前知识点">
						<img class="user abs" src="@/assets/img/common/user.png" @click="toUser">
						<div class="box-folder box-folder1 rel center">
							<img class="full-w" src="@/assets/img/common/folder.png">
							<div class="box-swiper box-swiper1 abs left right center overflow">
								<div class="swiper-container ks1">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img class="full-w" src="@/assets/img/knowledge/slide1-1.jpg">
										</div>
										<div class="swiper-slide">
											<img class="full-w" src="@/assets/img/knowledge/slide1-2.jpg">
										</div>
										<div class="swiper-slide">
											<img class="full-w" src="@/assets/img/knowledge/slide1-3.jpg">
										</div>
										<div class="swiper-slide">
											<img class="full-w" src="@/assets/img/knowledge/slide1-4.jpg">
										</div>
									</div>
									<img class="arrowd abs left right center hide" src="@/assets/img/knowledge/arrowd.png">
								</div>
							</div>
							<div class="swiper-scrollbar center"></div>
							<img class="clip abs top left right center" src="@/assets/img/common/clip.png">
						</div>
						<img class="arrowr arrowr1 abs" src="@/assets/img/knowledge/arrowr.png">
					</div>
					<div class="swiper-slide overflow">
						<!-- logo -->
						<img class="logo full-w" src="@/assets/img/common/logo.png" alt="BIOTHERM">
						<!-- title -->
						<img class="title full-w" src="@/assets/img/knowledge/title2.png" alt="四重极致防晒 防晒考前知识点">
						<img class="user abs" src="@/assets/img/common/user.png" @click="toUser">
						<div class="box-folder box-folder2 rel center">
							<img class="full-w" src="@/assets/img/common/folder.png">
							<div class="box-swiper box-swiper2 abs left right center overflow">
								<div class="swiper-container ks2">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img class="full-w" src="@/assets/img/knowledge/slide2-1.jpg">
										</div>
										<div class="swiper-slide">
											<img class="full-w" src="@/assets/img/knowledge/slide2-2.jpg">
										</div>
										<div class="swiper-slide">
											<img class="full-w" src="@/assets/img/knowledge/slide2-3.jpg">
										</div>
									</div>
									<img class="arrowd abs left right center hide" src="@/assets/img/knowledge/arrowd.png">
								</div>
							</div>
							<div class="swiper-scrollbar center"></div>
							<img class="clip abs top left right center" src="@/assets/img/common/clip.png">
							<img class="arrowu abs top left right center" src="@/assets/img/knowledge/arrowu.png">
						</div>
						<img class="arrowr arrowr2 abs" src="@/assets/img/knowledge/arrowr.png">
					</div>
					<div class="swiper-slide overflow">
						<!-- logo -->
						<img class="logo full-w" src="@/assets/img/common/logo.png" alt="BIOTHERM">
						<!-- title -->
						<img class="title full-w" src="@/assets/img/knowledge/title3.png" alt="两大核心成分 防晒考前知识点">
						<img class="user abs" src="@/assets/img/common/user.png" @click="toUser">
						<div class="box-folder box-folder3 rel center">
							<img class="full-w" src="@/assets/img/common/folder.png">
							<div class="box-swiper box-swiper3 abs left right center overflow">
								<div class="swiper-container ks3">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<img class="full-w" src="@/assets/img/knowledge/slide3-1.jpg">
										</div>
										<div class="swiper-slide">
											<img class="full-w" src="@/assets/img/knowledge/slide3-2.jpg">
										</div>
										<div class="swiper-slide">
											<img class="full-w" src="@/assets/img/knowledge/slide3-3.jpg">
										</div>
									</div>
									<img class="btn-test abs left right center hide" src="@/assets/img/knowledge/btn-test.png" @click="toTest">
								</div>
							</div>
							<div class="swiper-scrollbar center"></div>
							<img class="clip abs top left right center" src="@/assets/img/common/clip.png">
							<img class="arrowu abs top left right center" src="@/assets/img/knowledge/arrowu.png">
						</div>
						<img class="arrowr arrowr3 abs" src="@/assets/img/knowledge/arrowr.png">
					</div>
				</div>
			</div>
		</div>
		<modalUser></modalUser>
	</div>
</template>

<script src="@/assets/js/knowledge.js"></script>
