<style lang="scss" scoped src="@/assets/css/loading.scss"></style>

<template>
	<div class="page-loading full-vh rel">
		<!-- bg -->
		<img class="full-w abs top left" src="@/assets/img/loading/bg-top.png">
		<img class="full-w abs bottom left" src="@/assets/img/loading/bg-bottom.png">
		<!-- logo -->
		<img class="logo full-w abs left" src="@/assets/img/common/logo.png" alt="BIOTHERM">
		<div class="box-all full-w abs left">
			<img class="full-w" src="@/assets/img/loading/banner.png">
			<div class="box-text rel overflow">
				<img class="full-w opacity0" src="@/assets/img/loading/text1.png">
				<img class="full-w opacity0" src="@/assets/img/loading/text2.png">
        		<ul class="full-w full-h abs top left">
        			<li class="full-h">
        				<img class="full-w" src="@/assets/img/loading/text1.png">
        				<img class="full-w" src="@/assets/img/loading/text2.png">
        			</li> 
        			<li class="full-h">
        				<img class="full-w" src="@/assets/img/loading/text3.png">
        				<img class="full-w" src="@/assets/img/loading/text4.png">
        			</li> 
        			<li class="full-h">
        				<img class="full-w" src="@/assets/img/loading/text5.png">
        			</li> 
        		</ul>
        	</div>
        	<div class="box-bar">
        		<div class="bar full-h"></div>
        	</div>
        	<div class="box-percent text-center"><span class="percent">0</span>%...</div>
        	<img class="tip full-w" src="@/assets/img/loading/tip.png">
		</div>
	</div>
</template>

<script src="@/assets/js/loading.js"></script>
