<style lang="scss" scoped src="@/assets/css/result.scss"></style>

<template>
	<div class="page-result full-vh rel">
		<div class="full-w full-h abs top left" :class="{blur: modalNoticeShow}">
			<!-- bg -->
			<img class="full-w" src="@/assets/img/result/bg.jpg">
			<!-- logo -->
			<img class="logo full-w abs left" src="@/assets/img/common/logo.png" alt="BIOTHERM">
			<!-- pager -->
			<img v-if="point.score >= 90" class="full-w abs top left" src="@/assets/img/result/papers.png">
			<img class="user abs" src="@/assets/img/common/user.png" @click="toUser">
			<div class="box-all full-w abs left">
				<div class="box-title">
					<img v-if="point.score >= 90" class="full-w" src="@/assets/img/result/title1.png">
					<img v-else class="full-w" src="@/assets/img/result/title2.png">
				</div>
				<div v-if="point.score >= 90" class="box-code rel text-center">
					<span class="text-code">您的抽奖码为：</span>
					<span class="code">{{ point.code }}</span>
				</div>
				<img class="subtitle rel full-w" src="@/assets/img/result/subtitle.png" alt="SKIN LAB">
				<img class="full-w" :class="{banner1: point.score >= 90, banner2: point.score < 90}" src="@/assets/img/result/banner.png">
				<div class="box-tips">
					<img v-if="point.score >= 90" class="full-w" src="@/assets/img/result/tip1.png">
					<img v-else class="full-w" src="@/assets/img/result/tip2.png">
				</div>
				<div class="box-btns center" @click="retest">
					<img v-if="point.score >= 90" class="full-w" src="@/assets/img/result/btn-retest1.png">
					<img v-else class="full-w" src="@/assets/img/result/btn-retest2.png">
				</div>
			</div>
		</div>
		<!-- modal notice -->
		<transition name="fade" mode="out-in">
		    <div class="modal modal-notice abs top left full-w full-h" @click="closeModal" v-show="modalNoticeShow">
		    	<div class="content rel centerh left right center">
		    		<img class="full-w" src="@/assets/img/result/modal-notice.png">
			    </div>
		    </div>
		</transition>
		<modalUser></modalUser>
	</div>
</template>

<script src="@/assets/js/result.js"></script>
