<style lang="scss" scoped src="@/assets/css/test.scss"></style>

<template>
	<div class="page-test full-vh rel">
		<div class="full-w full-h abs top left" :class="{blur: modalProgressShow}">
			<!-- bg -->
			<img class="full-w" src="@/assets/img/common/bg.jpg">
			<!-- logo -->
			<img class="logo full-w abs left" src="@/assets/img/common/logo.png" alt="BIOTHERM">
			<img class="user abs" src="@/assets/img/common/user.png" @click="toUser">
			<div class="box-all abs left right center">
		        <div class="box-cbt">
		        	<div class="box-count rel">
		        		<img class="full-w" src="@/assets/img/test/title.png" alt="问题">
		        		<div class="box-num abs full-h top right">
		        			<img v-show="(index + 1) == 1" class="num full-h" src="@/assets/img/test/num/1.png" alt="1">
		        			<img v-show="(index + 1) == 2" class="num full-h" src="@/assets/img/test/num/2.png" alt="2">
		        			<img v-show="(index + 1) == 3" class="num full-h" src="@/assets/img/test/num/3.png" alt="3">
		        			<img v-show="(index + 1) == 4" class="num full-h" src="@/assets/img/test/num/4.png" alt="4">
		        			<img v-show="(index + 1) == 5" class="num full-h" src="@/assets/img/test/num/5.png" alt="5">
		        			<img v-show="(index + 1) == 6" class="num full-h" src="@/assets/img/test/num/6.png" alt="6">
		        			<img v-show="(index + 1) == 7" class="num full-h" src="@/assets/img/test/num/7.png" alt="7">
		        			<img v-show="(index + 1) == 8" class="num full-h" src="@/assets/img/test/num/8.png" alt="8">
		        			<img v-show="(index + 1) == 9" class="num full-h" src="@/assets/img/test/num/9.png" alt="9">
		        			<img v-show="(index + 1) == 10" class="num full-h" src="@/assets/img/test/num/10.png" alt="10">
		        			<img v-show="(index + 1) == 11" class="num full-h" src="@/assets/img/test/num/11.png" alt="11">
		        			<img v-show="(index + 1) == 12" class="num full-h" src="@/assets/img/test/num/12.png" alt="12">
		        			<img v-show="(index + 1) == 13" class="num full-h" src="@/assets/img/test/num/13.png" alt="13">
		        			<img v-show="(index + 1) == 14" class="num full-h" src="@/assets/img/test/num/14.png" alt="14">
		        			<img v-show="(index + 1) == 15" class="num full-h" src="@/assets/img/test/num/15.png" alt="15">
		        			<img v-show="(index + 1) == 16" class="num full-h" src="@/assets/img/test/num/16.png" alt="16">
		        			<img v-show="(index + 1) == 17" class="num full-h" src="@/assets/img/test/num/17.png" alt="17">
		        			<img v-show="(index + 1) == 18" class="num full-h" src="@/assets/img/test/num/18.png" alt="18">
		        			<img v-show="(index + 1) == 19" class="num full-h" src="@/assets/img/test/num/19.png" alt="19">
		        			<img v-show="(index + 1) == 20" class="num full-h" src="@/assets/img/test/num/20.png" alt="20">
		        			<img class="full-h" src="@/assets/img/test/total.png" alt="/20">
		        		</div>
		        	</div>
		        	<div class="box-bar rel center">
		        		<div class="swiper-pagination full-w full-h overflow"></div>
		        	</div>
		        	<div class="box-time text-center">剩余时间：{{ minute }}分钟{{ second }}秒</div>
		        </div>
		        <div class="box-folder rel">
		        	<img class="full-w" src="@/assets/img/common/folder.png">
		        	<div class="box-bg abs left right center overflow">
		        		<img class="full-w" src="@/assets/img/test/bg-qa.jpg">
		        		<div class="box-swiper full-w abs left">
				        	<div class="swiper-container qas swiper-no-swiping full-h">
				        		<div class="swiper-wrapper">
				        			<!-- q1 -->
					        		<div v-if="qArr.a1 != undefined && qArr.a1 != null" class="swiper-slide">
				        				<div class="q q1">游泳、泡澡之后需要重新涂防晒霜吗？</div>
				        				<div class="a a1">
			                                <input type="radio" id="A1" class="hide" value="A" name="a1" />
			                                <label for="A1" class="rel green" @click="answerFun($event)">
			                                	A.需要，防晒不能停
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B1" class="hide" value="B" name="a1" />
			                                <label for="B1" class="rel" @click="answerFun($event)">
			                                	B.不需要，防晒霜还会有残留
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q2 -->
					        		<div v-if="qArr.a2 != undefined && qArr.a2 != null" class="swiper-slide">
				        				<div class="q q2">80%衰老迹象的出现，源自于？</div>
				        				<div class="a a2">
			                                <input type="radio" id="A2" class="hide" value="A" name="a2" />
			                                <label for="A2" class="rel" @click="answerFun($event)">
			                                	A.自然衰老
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B2" class="hide" value="B" name="a2" />
			                                <label for="B2" class="rel green" @click="answerFun($event)">
			                                	B.紫外线（UV）及都市污染
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q3 -->
					        		<div v-if="qArr.a3 != undefined && qArr.a3 != null" class="swiper-slide">
				        				<div class="q q3">在室内需要涂隔离霜吗？</div>
				        				<div class="a a3">
			                                <input type="radio" id="A3" class="hide" value="A" name="a3" />
			                                <label for="A3" class="rel" @click="answerFun($event)">
			                                	A.不需要，室内没有长波辐射和短波辐射
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B3" class="hide" value="B" name="a3" />
			                                <label for="B3" class="rel green" @click="answerFun($event)">
			                                	B.需要，UVA可以穿过玻璃云层
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q4 -->
					        		<div v-if="qArr.a4 != undefined && qArr.a4 != null" class="swiper-slide">
				        				<div class="q q4">SPF50+可以至少保护肌肤多长时间？</div>
				        				<div class="a a4">
			                                <input type="radio" id="A4" class="hide" value="A" name="a4" />
			                                <label for="A4" class="rel" @click="answerFun($event)">
			                                	A.6小时
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B4" class="hide" value="B" name="a4" />
			                                <label for="B4" class="rel green" @click="answerFun($event)">
			                                	B.8小时左右
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C4" class="hide" value="C" name="a4" />
			                                <label for="C4" class="rel" @click="answerFun($event)">
			                                	C.20小时
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q5 -->
					        		<div v-if="qArr.a5 != undefined && qArr.a5 != null" class="swiper-slide">
				        				<div class="q q5">以下哪种标志能代表UVB防护能力？</div>
				        				<div class="a a5">
			                                <input type="radio" id="A5" class="hide" value="A" name="a5" />
			                                <label for="A5" class="rel green" @click="answerFun($event)">
			                                	A.SPF
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B5" class="hide" value="B" name="a5" />
			                                <label for="B5" class="rel" @click="answerFun($event)">
			                                	B.PA++
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C5" class="hide" value="C" name="a5" />
			                                <label for="C5" class="rel" @click="answerFun($event)">
			                                	C.SFP
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q6 -->
					        		<div v-if="qArr.a6 != undefined && qArr.a6 != null" class="swiper-slide">
				        				<div class="q q6">空气污染对皮肤的危害是？</div>
				        				<div class="a a6">
			                                <input type="radio" id="A6" class="hide" value="A" name="a6" />
			                                <label for="A6" class="rel green" @click="answerFun($event)">
			                                	A.敏感脆弱
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B6" class="hide" value="B" name="a6" />
			                                <label for="B6" class="rel" @click="answerFun($event)">
			                                	B.脂肪堆积
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C6" class="hide" value="C" name="a6" />
			                                <label for="C6" class="rel" @click="answerFun($event)">
			                                	C.松弛下垂
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q7 -->
					        		<div v-if="qArr.a7 != undefined && qArr.a7 != null" class="swiper-slide">
				        				<div class="q q7">碧欧泉“CC霜”30ml售价为350元。</div>
				        				<div class="a a7">
			                                <input type="radio" id="A7" class="hide" value="A" name="a7" />
			                                <label for="A7" class="rel green" @click="answerFun($event)">
			                                	A.对
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B7" class="hide" value="B" name="a7" />
			                                <label for="B7" class="rel" @click="answerFun($event)">
			                                	B.错
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q8 -->
					        		<div v-if="qArr.a8 != undefined && qArr.a8 != null" class="swiper-slide">
				        				<div class="q q8">以下哪个是碧欧泉“CC霜” UV的防护倍数？</div>
				        				<div class="a a8">
			                                <input type="radio" id="A8" class="hide" value="A" name="a8" />
			                                <label for="A8" class="rel green" @click="answerFun($event)">
			                                	A.SPF50+ PA+++ 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B8" class="hide" value="B" name="a8" />
			                                <label for="B8" class="rel" @click="answerFun($event)">
			                                	B.SPF50 PA++
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C8" class="hide" value="C" name="a8" />
			                                <label for="C8" class="rel" @click="answerFun($event)">
			                                	C.SPF50+ PA++
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q9 -->
					        		<div v-if="qArr.a9 != undefined && qArr.a9 != null" class="swiper-slide">
				        				<div class="q q9">以下哪个选项能体现碧欧泉“CC霜”的“多重防护功效”？</div>
				        				<div class="a a9">
			                                <input type="radio" id="A9" class="hide" value="A" name="a9" />
			                                <label for="A9" class="rel" @click="answerFun($event)">
			                                	A.UVA/UVB 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B9" class="hide" value="B" name="a9" />
			                                <label for="B9" class="rel" @click="answerFun($event)">
			                                	B.UVA/UVB/长波UVA 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C9" class="hide" value="C" name="a9" />
			                                <label for="C9" class="rel green" @click="answerFun($event)">
			                                	C.UVA/UVB/长波UVA/城市污染
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q10 -->
					        		<div v-if="qArr.a10 != undefined && qArr.a10 != null" class="swiper-slide">
				        				<div class="q q10">UVB会对肌肤造成什么伤害？</div>
				        				<div class="a a10">
			                                <input type="radio" id="A10" class="hide" value="A" name="a10" />
			                                <label for="A10" class="rel" @click="answerFun($event)">
			                                	A.晒老 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B10" class="hide" value="B" name="a10" />
			                                <label for="B10" class="rel green" @click="answerFun($event)">
			                                	B.晒黑，晒斑 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C10" class="hide" value="C" name="a10" />
			                                <label for="C10" class="rel" @click="answerFun($event)">
			                                	C.以上皆是
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q11 -->
					        		<div v-if="qArr.a11 != undefined && qArr.a11 != null" class="swiper-slide">
				        				<div class="q q11">短波UVA会对肌肤造成什么伤害？</div>
				        				<div class="a a11">
			                                <input type="radio" id="A11" class="hide" value="A" name="a11" />
			                                <label for="A11" class="rel" @click="answerFun($event)">
			                                	A.晒老 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B11" class="hide" value="B" name="a11" />
			                                <label for="B11" class="rel" @click="answerFun($event)">
			                                	B.晒伤  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C11" class="hide" value="C" name="a11" />
			                                <label for="C11" class="rel green" @click="answerFun($event)">
			                                	C.晒黑，晒斑
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q12 -->
					        		<div v-if="qArr.a12 != undefined && qArr.a12 != null" class="swiper-slide">
				        				<div class="q q12">长波UVA会对肌肤造成什么伤害？</div>
				        				<div class="a a12">
			                                <input type="radio" id="A12" class="hide" value="A" name="a12" />
			                                <label for="A12" class="rel" @click="answerFun($event)">
			                                	A.晒伤 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B12" class="hide" value="B" name="a12" />
			                                <label for="B12" class="rel green" @click="answerFun($event)">
			                                	B.晒老  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C12" class="hide" value="C" name="a12" />
			                                <label for="C12" class="rel" @click="answerFun($event)">
			                                	C.晒黑，晒斑
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q13 -->
					        		<div v-if="qArr.a13 != undefined && qArr.a13 != null" class="swiper-slide">
				        				<div class="q q13">城市污染催生紫外线对肌肤的伤害加剧多少倍？</div>
				        				<div class="a a13">
			                                <input type="radio" id="A13" class="hide" value="A" name="a13" />
			                                <label for="A13" class="rel" @click="answerFun($event)">
			                                	A.2倍 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B13" class="hide" value="B" name="a13" />
			                                <label for="B13" class="rel green" @click="answerFun($event)">
			                                	B.3倍  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C13" class="hide" value="C" name="a13" />
			                                <label for="C13" class="rel" @click="answerFun($event)">
			                                	C.4倍
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q14 -->
					        		<div v-if="qArr.a14 != undefined && qArr.a14 != null" class="swiper-slide">
				        				<div class="q q14">碧欧泉“CC霜”有防晒指数为SPF50+,PA+++的广谱防护科技，有效防护紫外线，使用后可以直接上底妆，不需要另外涂防晒。</div>
				        				<div class="a a14">
			                                <input type="radio" id="A14" class="hide" value="A" name="a14" />
			                                <label for="A14" class="rel green" @click="answerFun($event)">
			                                	A.对
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B14" class="hide" value="B" name="a14" />
			                                <label for="B14" class="rel" @click="answerFun($event)">
			                                	B.错
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q15 -->
					        		<div v-if="qArr.a15 != undefined && qArr.a15 != null" class="swiper-slide">
				        				<div class="q q15">碧欧泉“CC霜”可以预防超长长波辐射（XL-UVA）。</div>
				        				<div class="a a15">
			                                <input type="radio" id="A15" class="hide" value="A" name="a15" />
			                                <label for="A15" class="rel green" @click="answerFun($event)">
			                                	A.对
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B15" class="hide" value="B" name="a15" />
			                                <label for="B15" class="rel" @click="answerFun($event)">
			                                	B.错
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q16 -->
					        		<div v-if="qArr.a16 != undefined && qArr.a16 != null" class="swiper-slide">
				        				<div class="q q16">75%的肌肤暗沉损伤是由长波UVA造成的？</div>
				        				<div class="a a16">
			                                <input type="radio" id="A16" class="hide" value="A" name="a16" />
			                                <label for="A16" class="rel green" @click="answerFun($event)">
			                                	A.对
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B16" class="hide" value="B" name="a16" />
			                                <label for="B16" class="rel" @click="answerFun($event)">
			                                	B.错
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q17 -->
					        		<div v-if="qArr.a17 != undefined && qArr.a17 != null" class="swiper-slide">
				        				<div class="q q17">碧欧泉“CC霜”为什么冬天使用也不拔干，令后续妆容保持服帖？</div>
				        				<div class="a a17">
			                                <input type="radio" id="A17" class="hide" value="A" name="a17" />
			                                <label for="A17" class="rel" @click="answerFun($event)">
			                                	A.内含光芒叶提取物，水润保湿，不粘腻 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B17" class="hide" value="B" name="a17" />
			                                <label for="B17" class="rel green" @click="answerFun($event)">
			                                	B.内含品牌核心成分LIFE PLANKTONTM益生微生物发酵物，加速肌肤新陈代谢，保湿水润不拔干  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C17" class="hide" value="C" name="a17" />
			                                <label for="C17" class="rel" @click="answerFun($event)">
			                                	C.以上两者都是
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q18 -->
					        		<div v-if="qArr.a18 != undefined && qArr.a18 != null" class="swiper-slide">
				        				<div class="q q18">以下哪个成分不属于碧欧泉“CC霜”？</div>
				        				<div class="a a18">
			                                <input type="radio" id="A18" class="hide" value="A" name="a18" />
			                                <label for="A18" class="rel" @click="answerFun($event)">
			                                	A.益生微生物发酵物 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B18" class="hide" value="B" name="a18" />
			                                <label for="B18" class="rel green" @click="answerFun($event)">
			                                	B.玻尿酸  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C18" class="hide" value="C" name="a18" />
			                                <label for="C18" class="rel" @click="answerFun($event)">
			                                	C.辣木籽提取物
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q19 -->
					        		<div v-if="qArr.a19 != undefined && qArr.a19 != null" class="swiper-slide">
				        				<div class="q q19">敏感肌可以使用碧欧泉“CC霜”吗？</div>
				        				<div class="a a19">
			                                <input type="radio" id="A19" class="hide" value="A" name="a19" />
			                                <label for="A19" class="rel green" @click="answerFun($event)">
			                                	A.可以放心使用 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B19" class="hide" value="B" name="a19" />
			                                <label for="B19" class="rel" @click="answerFun($event)">
			                                	B.不可以，建议使用碧欧泉“小黄瓶”防晒乳  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C19" class="hide" value="C" name="a19" />
			                                <label for="C19" class="rel" @click="answerFun($event)">
			                                	C.建议敏感肌在冬天不要使用
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q20 -->
					        		<div v-if="qArr.a20 != undefined && qArr.a20 != null" class="swiper-slide">
				        				<div class="q q20">什么成分改善肌肤因UV和污染造成的粗糙暗沉？</div>
				        				<div class="a a20">
			                                <input type="radio" id="A20" class="hide" value="A" name="a20" />
			                                <label for="A20" class="rel" @click="answerFun($event)">
			                                	A.辣薄荷提取物 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B20" class="hide" value="B" name="a20" />
			                                <label for="B20" class="rel" @click="answerFun($event)">
			                                	B.法国蔷薇提取物  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C20" class="hide" value="C" name="a20" />
			                                <label for="C20" class="rel green" @click="answerFun($event)">
			                                	C.辣木籽提取物
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q21 -->
					        		<div v-if="qArr.a21 != undefined && qArr.a21 != null" class="swiper-slide">
				        				<div class="q q21">碧欧泉“CC霜”中的光芒叶精粹，可以长效保湿不拔干，因此冬天也可以使用。</div>
				        				<div class="a a21">
			                                <input type="radio" id="A21" class="hide" value="A" name="a21" />
			                                <label for="A21" class="rel" @click="answerFun($event)">
			                                	A.对 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B21" class="hide" value="B" name="a21" />
			                                <label for="B21" class="rel green" @click="answerFun($event)">
			                                	B.错  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q22 -->
					        		<div v-if="qArr.a22 != undefined && qArr.a22 != null" class="swiper-slide">
				        				<div class="q q22">碧欧泉“CC霜”的益生微生物发酵物成分，有加速肌肤新陈代谢，长效保湿的作用。</div>
				        				<div class="a a22">
			                                <input type="radio" id="A22" class="hide" value="A" name="a22" />
			                                <label for="A22" class="rel green" @click="answerFun($event)">
			                                	A.对 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B22" class="hide" value="B" name="a22" />
			                                <label for="B22" class="rel" @click="answerFun($event)">
			                                	B.错  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q23 -->
					        		<div v-if="qArr.a23 != undefined && qArr.a23 != null" class="swiper-slide">
				        				<div class="q q23">碧欧泉“CC霜”的辣木籽提取物成分，能够改善紫外线和污染造成的肌肤粗糙暗沉问题。</div>
				        				<div class="a a23">
			                                <input type="radio" id="A23" class="hide" value="A" name="a23" />
			                                <label for="A23" class="rel green" @click="answerFun($event)">
			                                	A.对 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B23" class="hide" value="B" name="a23" />
			                                <label for="B23" class="rel" @click="answerFun($event)">
			                                	B.错  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q24 -->
					        		<div v-if="qArr.a24 != undefined && qArr.a24 != null" class="swiper-slide">
				        				<div class="q q24">被称为碧欧泉“CC霜”的是如下哪个产品？</div>
				        				<div class="a a24">
			                                <input type="radio" id="A24" class="hide" value="A" name="a24" />
			                                <label for="A24" class="rel green" @click="answerFun($event)">
			                                	A.碧欧泉修颜润透防护隔离乳 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B24" class="hide" value="B" name="a24" />
			                                <label for="B24" class="rel" @click="answerFun($event)">
			                                	B.碧欧泉男士清透修颜隔离霜  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C24" class="hide" value="C" name="a24" />
			                                <label for="C24" class="rel" @click="answerFun($event)">
			                                	C.碧欧泉新骄阳水润身体防晒乳
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q25 -->
					        		<div v-if="qArr.a25 != undefined && qArr.a25 != null" class="swiper-slide">
				        				<div class="q q25">碧欧泉CC霜适合什么肤质和年龄使用？</div>
				        				<div class="a a25">
			                                <input type="radio" id="A25" class="hide" value="A" name="a25" />
			                                <label for="A25" class="rel" @click="answerFun($event)">
			                                	A.适合年轻干皮 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B25" class="hide" value="B" name="a25" />
			                                <label for="B25" class="rel" @click="answerFun($event)">
			                                	B.适合年轻油皮  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C25" class="hide" value="C" name="a25" />
			                                <label for="C25" class="rel green" @click="answerFun($event)">
			                                	C.适合所有年龄、所有肤质
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q26 -->
					        		<div v-if="qArr.a26 != undefined && qArr.a26 != null" class="swiper-slide">
				        				<div class="q q26">防晒霜每次用量多少？</div>
				        				<div class="a a26">
			                                <input type="radio" id="A26" class="hide" value="A" name="a26" />
			                                <label for="A26" class="rel green" @click="answerFun($event)">
			                                	A.一元硬币大小，均匀涂抹全脸
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B26" class="hide" value="B" name="a26" />
			                                <label for="B26" class="rel" @click="answerFun($event)">
			                                	B.大概2滴米粒大小  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C26" class="hide" value="C" name="a26" />
			                                <label for="C26" class="rel" @click="answerFun($event)">
			                                	C.涂越多越好
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q27 -->
					        		<div v-if="qArr.a27 != undefined && qArr.a27 != null" class="swiper-slide">
				        				<div class="q q27">碧欧泉“CC霜”打开后，可以使用多久？</div>
				        				<div class="a a27">
			                                <input type="radio" id="A27" class="hide" value="A" name="a27" />
			                                <label for="A27" class="rel" @click="answerFun($event)">
			                                	A.3个月
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B27" class="hide" value="B" name="a27" />
			                                <label for="B27" class="rel" @click="answerFun($event)">
			                                	B.6个月  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C27" class="hide" value="C" name="a27" />
			                                <label for="C27" class="rel green" @click="answerFun($event)">
			                                	C.12个月
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="D27" class="hide" value="D" name="a27" />
			                                <label for="D27" class="rel" @click="answerFun($event)">
			                                	D.只要没过保质期都可以使用
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q28 -->
					        		<div v-if="qArr.a28 != undefined && qArr.a28 != null" class="swiper-slide">
				        				<div class="q q28">以下哪些是碧欧泉“CC霜”的描述？</div>
				        				<div class="a a28">
			                                <input type="radio" id="A28" class="hide" value="A" name="a28" />
			                                <label for="A28" class="rel" @click="answerFun($event)">
			                                	A.无惧紫外线与都市污染，遮瑕养肤两不误
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B28" class="hide" value="B" name="a28" />
			                                <label for="B28" class="rel" @click="answerFun($event)">
			                                	B.8小时保湿，给予肌肤12小时长效极致防护  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="C28" class="hide" value="C" name="a28" />
			                                <label for="C28" class="rel" @click="answerFun($event)">
			                                	C.高倍防晒，均匀肤色，轻透配方，肌肤自在呼吸
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="D28" class="hide" value="D" name="a28" />
			                                <label for="D28" class="rel green" @click="answerFun($event)">
			                                	D.以上都是
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q29 -->
					        		<div v-if="qArr.a29 != undefined && qArr.a29 != null" class="swiper-slide">
				        				<div class="q q29">碧欧泉“CC霜” 每次涂抹用量越多越好。</div>
				        				<div class="a a29">
			                                <input type="radio" id="A29" class="hide" value="A" name="a29" />
			                                <label for="A29" class="rel" @click="answerFun($event)">
			                                	A.对 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B29" class="hide" value="B" name="a29" />
			                                <label for="B29" class="rel green" @click="answerFun($event)">
			                                	B.错  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        		<!-- q30 -->
					        		<div v-if="qArr.a30 != undefined && qArr.a30 != null" class="swiper-slide">
				        				<div class="q q30">碧欧泉“CC霜”因为好吸收成膜快，所以在出门前涂抹就可以达到效果。</div>
				        				<div class="a a30">
			                                <input type="radio" id="A30" class="hide" value="A" name="a30" />
			                                <label for="A30" class="rel" @click="answerFun($event)">
			                                	A.对 
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
			                                <input type="radio" id="B30" class="hide" value="B" name="a30" />
			                                <label for="B30" class="rel green" @click="answerFun($event)">
			                                	B.错  
			                                	<img class="icon-checked abs centerh" src="@/assets/img/test/icon-checked.png">
			                                </label>
				        				</div>
					        		</div>
					        	</div>
				        	</div>
				        </div>
			        </div>
			        <img class="clip abs top left right center" src="@/assets/img/common/clip.png">
			        <img class="btn-progress abs" src="@/assets/img/test/btn-progress.png" @click="modalProgress">
		        	<button type="button" class="btn-swiper btn-prev abs">
		        		<img class="full-w" src="@/assets/img/test/arrowl.png">
		        	</button>
	        		<button type="button" class="btn-swiper btn-next abs" @click="toEnd">
	        			<img class="full-w" src="@/assets/img/test/arrowr.png">
	        		</button>
		        </div>
		    </div>
		</div>
        <!-- modal progress -->
		<transition name="fade" mode="out-in">
		    <div class="modal modal-progress abs top left full-w full-h" @click="closeModal" v-show="modalProgressShow">
		    	<div class="content rel centerh left right center">
		    		<img class="full-w" src="@/assets/img/test/bg-modal.png">
		    		<img class="titlem full-w abs left" src="@/assets/img/test/titlem.png">
		    		<ul class="full-w abs left text-center">
		    			<li @click="toSlide(0)">
		    				<img v-if="modalArr.indexOf(1) < 0" class="full-w" src="@/assets/img/test/num2/1.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/1-checked.png">
		    			</li>
		    			<li @click="toSlide(1)">
		    				<img v-if="modalArr.indexOf(2) < 0" class="full-w" src="@/assets/img/test/num2/2.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/2-checked.png">
		    			</li>
		    			<li @click="toSlide(2)">
		    				<img v-if="modalArr.indexOf(3) < 0" class="full-w" src="@/assets/img/test/num2/3.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/3-checked.png">
		    			</li>
		    			<li @click="toSlide(3)">
		    				<img v-if="modalArr.indexOf(4) < 0" class="full-w" src="@/assets/img/test/num2/4.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/4-checked.png">
		    			</li>
		    			<li @click="toSlide(4)">
		    				<img v-if="modalArr.indexOf(5) < 0" class="full-w" src="@/assets/img/test/num2/5.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/5-checked.png">
		    			</li>
		    			<li @click="toSlide(5)">
		    				<img v-if="modalArr.indexOf(6) < 0" class="full-w" src="@/assets/img/test/num2/6.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/6-checked.png">
		    			</li>
		    			<li @click="toSlide(6)">
		    				<img v-if="modalArr.indexOf(7) < 0" class="full-w" src="@/assets/img/test/num2/7.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/7-checked.png">
		    			</li>
		    			<li @click="toSlide(7)">
		    				<img v-if="modalArr.indexOf(8) < 0" class="full-w" src="@/assets/img/test/num2/8.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/8-checked.png">
		    			</li>
		    			<li @click="toSlide(8)">
		    				<img v-if="modalArr.indexOf(9) < 0" class="full-w" src="@/assets/img/test/num2/9.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/9-checked.png">
		    			</li>
		    			<li @click="toSlide(9)">
		    				<img v-if="modalArr.indexOf(10) < 0" class="full-w" src="@/assets/img/test/num2/10.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/10-checked.png">
		    			</li>
		    			<li @click="toSlide(10)">
		    				<img v-if="modalArr.indexOf(11) < 0" class="full-w" src="@/assets/img/test/num2/11.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/11-checked.png">
		    			</li>
		    			<li @click="toSlide(11)">
		    				<img v-if="modalArr.indexOf(12) < 0" class="full-w" src="@/assets/img/test/num2/12.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/12-checked.png">
		    			</li>
		    			<li @click="toSlide(12)">
		    				<img v-if="modalArr.indexOf(13) < 0" class="full-w" src="@/assets/img/test/num2/13.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/13-checked.png">
		    			</li>
		    			<li @click="toSlide(13)">
		    				<img v-if="modalArr.indexOf(14) < 0" class="full-w" src="@/assets/img/test/num2/14.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/14-checked.png">
		    			</li>
		    			<li @click="toSlide(14)">
		    				<img v-if="modalArr.indexOf(15) < 0" class="full-w" src="@/assets/img/test/num2/15.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/15-checked.png">
		    			</li>
		    			<li @click="toSlide(15)">
		    				<img v-if="modalArr.indexOf(16) < 0" class="full-w" src="@/assets/img/test/num2/16.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/16-checked.png">
		    			</li>
		    			<li @click="toSlide(16)">
		    				<img v-if="modalArr.indexOf(17) < 0" class="full-w" src="@/assets/img/test/num2/17.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/17-checked.png">
		    			</li>
		    			<li @click="toSlide(17)">
		    				<img v-if="modalArr.indexOf(18) < 0" class="full-w" src="@/assets/img/test/num2/18.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/18-checked.png">
		    			</li>
		    			<li @click="toSlide(18)">
		    				<img v-if="modalArr.indexOf(19) < 0" class="full-w" src="@/assets/img/test/num2/19.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/19-checked.png">
		    			</li>
		    			<li @click="toSlide(19)">
		    				<img v-if="modalArr.indexOf(20) < 0" class="full-w" src="@/assets/img/test/num2/20.png">
		    				<img v-else class="full-w" src="@/assets/img/test/num2/20-checked.png">
		    			</li>
		    		</ul>
		    		<img class="btn-close full-w abs left right center" src="@/assets/img/test/close.png">
			    </div>
		    </div>
		</transition>
		<!-- modal loading -->
		<transition name="fade" mode="out-in">
		    <div class="modal modal-loading abs centerh left right center" v-show="modalLoadingShow">
		    	<div class="loader abs centerh left right center"></div>
		    </div>
	    </transition>
	    <modalUser></modalUser>
	</div>
</template>

<script src="@/assets/js/test.js"></script>
