<style lang="scss" scoped src="@/assets/css/user.scss"></style>

<template>
	<div class="page-user full-vh rel">
		<!-- bg -->
		<img class="full-w" src="@/assets/img/common/bg.jpg">
		<!-- logo -->
		<img class="logo full-w abs left" src="@/assets/img/common/logo.png" alt="BIOTHERM">
		<div class="box-all full-w abs left text-center">
			<!-- title -->
			<img class="full-w" src="@/assets/img/user/title.png" alt="个人中心">
			<div class="box-folder rel center">
				<img class="full-w" src="@/assets/img/common/folder.png">
				<div class="box-bg abs left right center overflow">
					<img class="full-w" src="@/assets/img/user/bg-user.jpg">
					<div class="box-info abs left right center text-center">
						<img class="avatar" src="@/assets/img/user/avatar.png">
						<p class="username">{{ username }}</p>
						<p class="usernum">编号：{{ usernum }}</p>
						<ul class="center text-left">
							<li v-if="code1 != undefined && code1 != null" class="rel">
								<div>
									<img v-if="code1status == 0" class="full-w" src="@/assets/img/user/bg-code0.png">
									<img v-else-if="code1status == 1" class="full-w" src="@/assets/img/user/bg-code1.png">
									<img v-else class="full-w" src="@/assets/img/user/bg-code2.png">
								</div>
								<img v-if="code1status == 2" class="papers full-w abs left" src="@/assets/img/user/papers.png">
								<div class="box-logo full-w abs left">
									<img v-if="code1status == 1" class="full-w" src="@/assets/img/user/logo1.png">
									<img v-else class="full-w" src="@/assets/img/user/logo2.png">
								</div>
								<div class="box-code abs" :class="{color02: code1status == 0 || code1status == 2, color1: code1status == 1}">
									<p class="code">{{ code1 }}</p>
									<p class="time">抽奖时间：{{ time }}</p>
								</div>
							</li>
							<li v-if="code2 != undefined && code2 != null" class="rel">
								<div>
									<img v-if="code2status == 0" class="full-w" src="@/assets/img/user/bg-code0.png">
									<img v-else-if="code2status == 1" class="full-w" src="@/assets/img/user/bg-code1.png">
									<img v-else class="full-w" src="@/assets/img/user/bg-code2.png">
								</div>
								<img v-if="code2status == 2" class="papers full-w abs left" src="@/assets/img/user/papers.png">
								<div class="box-logo full-w abs left">
									<img v-if="code2status == 1" class="full-w" src="@/assets/img/user/logo1.png">
									<img v-else class="full-w" src="@/assets/img/user/logo2.png">
								</div>
								<div class="box-code abs" :class="{color02: code2status == 0 || code2status == 2, color1: code2status == 1}">
									<p class="code">{{ code2 }}</p>
									<p class="time">抽奖时间：{{ time }}</p>
								</div>
							</li>
							<li v-if="code3 != undefined && code3 != null" class="rel">
								<div>
									<img v-if="code3status == 0" class="full-w" src="@/assets/img/user/bg-code0.png">
									<img v-else-if="code3status == 1" class="full-w" src="@/assets/img/user/bg-code1.png">
									<img v-else class="full-w" src="@/assets/img/user/bg-code2.png">
								</div>
								<img v-if="code3status == 2" class="papers full-w abs left" src="@/assets/img/user/papers.png">
								<div class="box-logo full-w abs left">
									<img v-if="code3status == 1" class="full-w" src="@/assets/img/user/logo1.png">
									<img v-else class="full-w" src="@/assets/img/user/logo2.png">
								</div>
								<div class="box-code abs" :class="{color02: code3status == 0 || code3status == 2, color1: code3status == 1}">
									<p class="code">{{ code3 }}</p>
									<p class="time">抽奖时间：{{ time }}</p>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<img class="clip abs top left right center" src="@/assets/img/common/clip.png">
			</div>
		</div>
		<!-- modal loading -->
		<transition name="fade" mode="out-in">
		    <div class="modal modal-loading abs centerh left right center" v-show="modalLoadingShow">
		    	<div class="loader abs centerh left right center"></div>
		    </div>
	    </transition>
	</div>
</template>

<script src="@/assets/js/user.js"></script>
