<template>
	<div class="box-music fixed">
		<img class="music-icon music-off abs top left full-w" src="@/assets/img/m.png" @click="musicOn" />
		<img class="music-icon music-on abs top left full-w" src="@/assets/img/m.png" @click="musicOff" />
		<audio id="opAudio" src="" autoplay loop></audio>
	</div>
</template>

<style>
	.box-music {
		width: 0.8rem;
	    height: 0.8rem;
	    top: 0.5rem;
	    right: 0.5rem;
	    z-index: 1;
	}
</style>

<script>
	export default {
		name: 'Music',
		data() {
			return {
				music: null,
				audio: [{src: require('@/assets/audio/op.mp3')}],
				isByUser: 0
			}
		},
		mounted() {
			var context = this;
			$('#opAudio').attr('src', context.audio[0].src);
			context.playMusic();
		},
		methods: {
			playMusic() {
				// console.log('play music');
				var context = this;
				$('.music-off').hide();
				context.music = new TimelineMax;
				context.music.fromTo($('.music-on'), 1.8, {rotation: 0, transFormOrigin: '50% 50%'}, {rotation: 360, transFormOrigin: '50% 50%', repeat: -1, RepeatDelay: 0.8, ease: Power0.easeNone});
				// $('#opAudio').remove();
				// $('body').append('<audio id="opAudio" src="./media/' + this.op + '.mp3" autoplay="" loop="false"></audio>');
				if (window.WeixinJSBridge) {
                    WeixinJSBridge.invoke('getNetworkType', {}, function(e) {
                        $('#opAudio').get(0).play();
                    }, false);
                } else {
                    document.addEventListener('WeixinJSBridgeReady', function() {
                        WeixinJSBridge.invoke('getNetworkType', {}, function(e) {
                        	setTimeout(function() {
                        		//
                        	}, 500);
                            $('#opAudio').get(0).play();
                        });
                    }, false);
                }
			},
			musicOn() {
				var context = this;
				context.music.resume();
				$('.music-off').hide();
				$('.music-on').show();
				// $('#opAudio').remove();
				// $('body').append('<audio id="opAudio" src="./media/' + this.op + '.mp3" autoplay="" loop="false"></audio>');
				if (window.WeixinJSBridge) {
                    WeixinJSBridge.invoke('getNetworkType', {}, function(e) {
                        $('#opAudio').get(0).play();
                    }, false);
                } else {
                    document.addEventListener('WeixinJSBridgeReady', function() {
                        WeixinJSBridge.invoke('getNetworkType', {}, function(e) {
                            $('#opAudio').get(0).play();
                        });
                    }, false);
                }
			},
			musicOff() {
				var context = this;
				context.music.pause();
				$('.music-on').hide();
				$('.music-off').show();
				$('#opAudio').get(0).pause();
				// $('#opAudio').remove();
			},
		}
	};
</script>