<style lang="scss" src="@/assets/css/base.scss"></style>
<style lang="scss" src="@/assets/css/common.scss"></style>

<template>
    <div id="app">
        <transition name="fade" mode="out-in">
            <router-view />
        </transition>
        <div class="abs top left" style="font-size: 0.24rem; color: transparent">{{ this.$root.netTime }}</div>
    </div>
</template>

<script>
    // import { wxshare } from '@/libs/wxapi';
    export default {
        name: 'App',
        mounted() {
            // wxshare();
        }
    };
</script>
